@import url(columnas-con-consultas.css);

/* SECCION 1 */
header #logo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
}

header center p{
    text-align: center;
    width: 42px;
    line-height: 42px;
    border-radius: 100%;
    background: #ccc;
    color: white;
}

header center#icono1 p{
    background: blue;
}
header center#icono2 p{
    background: green;
}
header center#icono3 p{
    background: red;
}


/* section 2 */
nav ul li{
    padding: 10px;
    text-align: center;
}

nav ul li a{
    display: block;
    background: rgba(100,0,255,1);
    font-family: 'Kaushan Script', cursive;
    color: white;
    line-height: 48px;
}

nav ul li a:hover{
    background: rgba(100,0,255,.4);
}

nav ul li a:active{
    background: rgba(255,0,100,1);
}

/* section 3 */
#seccion3 center{
    padding: 20px;
}

#seccion3 img{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    padding: 10px;
}

#seccion3 h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    padding: 10px;
}

#seccion3 p{
    padding: 10px;
}

/* section 4 */

#seccion4 aside ul li{
    background: #aaa;
    padding: 10px;
    margin: 2px 10px;
    list-style: square;
    list-style-position: inside;
    /* list-style-image: url(); */
}

#seccion4 article h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    margin: 20px;
}

#seccion4 article p img{
    float: left;
    margin-right: 20px;
}

#seccion4 article p{
    margin: 5px 20px;
    font-size: 14px;
    text-align: justify;
}

#seccion4 aside#der h1{
  line-height: 50px;
  text-align: center;
  background: rgba(100,0,255,1);
  color: white;
  margin-bottom: 5px;
}

#seccion4 aside#der input{
    width:100%;
    padding: 10px;
    margin: 5px 0;
  }

  /* section 5 */

  footer{
    padding: 20px 10px;
  }

  footer div{
    background: rgba(100,0,255,1);
    text-align: center;
    line-height: 50px;
    color: white;
  }
